* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
canvas {
  aspect-ratio: 9 / 16;

  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
